#container {
	margin: 0 auto;
	width: 960px;
	border: 1px solid #CACACA;
	padding: 10px;
	-webkit-box-shadow: 0 0 5px #CACACA;
	   -moz-box-shadow: 0 0 5px #CACACA;
	        box-shadow: 0 0 5px #CACACA;
}
	#container h1 {
		
	}
